@charset "UTF-8";

/* REACTIVE CLASS */
.mobile {display:none !important;}
br.only-m {content:'';}
br.only-m::after {content:'\00a0';}

body {
    font-family:'NotoSansKr', sans-serif;
    font-size:14px;
    color:#3c3c3c;
}

#wrapper {
    position:relative;
    width:100%;
    min-width:320px;
    opacity:0;
    transition:opacity 1s ease;
    background:#fff;
    overflow:hidden;    
}

body.active #wrapper {
    opacity:1;
}

#skip_nav {
    position:fixed;
    left:0;
    top:-40px;
    width:100%;
    line-height:40px;
    text-align:center;
    background-color:rgba(0, 0, 0, 0.8);
    color:#ffffff;
    font-size:16px;
    transition:top 0.3s;
    z-index:100000;
}

#skip_nav:focus {
    top:0;
}

#intro {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    box-sizing:border-box;
    transition:0.8s;
    overflow:hidden;
}

.intro_wrap {
    position:relative;
    height:100%;
    min-height:100%;
}

#header {
    position:absolute;
    top:5.20833vw;
    left:0;
    width:100%;
    height:100px;
    padding:0 60px;
    box-sizing:border-box;
    z-index:999;
}

#header .header_inner {
    border-top:1px solid rgba(255, 255, 255, 0.4);
}

#header h1 {
    position:absolute;
    top:10px;
    left:60px;
}

#header h1 a {
    display:block;
    font-size:28px;
    line-height:34px;
    font-weight:400;
    text-transform:uppercase;
    color:rgba(255, 255, 255, 0.5);
    transition:all 0.2s linear 0s;
    letter-spacing:1.2px;
}

#header h1 a:hover,
#header h1 a:focus {
    color:#fff;
}

#header nav {
    position:absolute;
    top:10px;
    right:60px;
    display:block !important;
}

.gnb li {
    float:left;
}

.gnb li + li {
    margin-left:20px;
}

.gnb li a {
    display:block;
    padding:0 10px;
    font-size:18px;
    line-height:30px;
    font-weight:300;
    text-transform:uppercase;
    color:rgba(255, 255, 255, 0.5);
    transition:all .2s linear;
    letter-spacing:1px;
}

.gnb li a:hover,
.gnb li a:focus {    
    color:#fff;
}

.gnb li:last-child a {
    padding-right:0;
}

.title_content {
    position:absolute;
    top:50%;
    left:0;
    width:80%;
    max-width:1320px;
    padding-left:60px;
    transform:translate(0,-40%);
    text-align:left;
}

.title_content .title span {
    display:block;
    font-size:5.20833vw;   
    font-weight:300;
    color:#fff;
    letter-spacing:1px;
}

.title_content .title em {
    position: relative;
    display:inline-block;
    font-size:7.29166vw;
    font-weight:400; 
    color:#EA543C;
    letter-spacing:1px;
}

.title_content .title .two {
    padding-left:120px;
}

.intro_back {
    position:relative;
    width:100%;
    height:100%;
}

.intro_back ul {
    width:100%;
    height:100%;
} 

.intro_back ul li {
    float:left;
    width:20%;
    height:0;
    transition:all .3s ease-in;    
}

.intro_back ul li:nth-child(1) {
    transition-delay:.5s;
}

.intro_back ul li:nth-child(2) {
    transition-delay:.6s;
}

.intro_back ul li:nth-child(3) {
    transition-delay:.7s;
}

.intro_back ul li:nth-child(4) {
    transition-delay:.8s;
}

.intro_back ul li:nth-child(5) {
    transition-delay:.9s;
}

body.active .intro_back ul li {
    height:100%;
    background:#131416;
}

#intro .blob {
    position:absolute;    
    height:auto;   
}

#intro .blob.blob1 {
    top:-50px;
    right:0px;
    width:1600px;
}

#intro .blob.blob1 path {
    fill:#f3f3f31f;
}

.scroll_wrap {
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%, 0);
    width:16px;
    height:100px;
}

.scroll_wrap .scroll {
    position:absolute;
    top:0;
    left:0;
    width:16px;
    height:16px;
    background:rgba(255, 255, 255, 0.7);
    border-radius:50%;
}

#detail {
    position:relative;
    background:#fff;
}

#carrer {    
    position:relative;
    width:100%;
    padding:120px 0;
}

#carrer .content_wrap {    
    position:relative;
    max-width:1280px;
    margin:0 auto;
}

#carrer .content_wrap .title {
    position:relative;
    padding-bottom:30px;
    text-align:left;
    font-size:40px;
    color:#222;
    font-weight:400;
}

#carrer .content_wrap .title:before,
#carrer .content_wrap .title:after {
    position:absolute;
    display:block;
    content:'';
}

#carrer .content_wrap .title:before {
    bottom:0;
    left:0;
    width:40px;
    height:5px;
    background:#222;
    z-index:1;
}

#carrer .content_wrap .title:after {
    bottom:2px;
    left:0;
    width:100%;
    height:1px;
    background:#d3d3d3;
}

#carrer .work_history {
    padding:30px;
    background:#f5f5f5;
    margin-top:-2px;
}

#carrer .work_history dl {
    float:left;
    width:50%;
}

#carrer .work_history dl dt {
    font-size:20px;
    font-weight:500;
    line-height:28px;
    margin-bottom:15px;
    color:#EA543C;
    letter-spacing:-1px;
}

#carrer .work_history dl dd {
    font-size:16px;
    line-height:28px;
}

#carrer .work_project dl dd:nth-child(2) {
    color:#EA543C;
    font-weight:500;
}

#carrer .work_project {
    margin-top:30px;
}

#carrer .sub_title { 
    font-size:20px;
    margin-bottom:10px;
    font-weight:400;
    line-height:28px;
    color:#EA543C;
    letter-spacing:1px;
}

#carrer .work_project dl {
    position:relative;
    width:50%;
    float:left;
    margin:20px 0;
    padding-left:60px;
    box-sizing:border-box;
}

#carrer .work_project dl dt {
    position:absolute;
    top:0;
    left:0;
    font-size:30px;
    font-weight:400;
    font-style:italic;
    color:#cbcbcb;
    padding-right:5px;
}

#carrer dl dd {
    font-size:16px;
    line-height:28px;
}

#carrer .blob.blob3 {
    position:absolute;
    top:0;
    left:0;
    width:1800px;
    transform:rotate(180deg);
}

#carrer .blob.blob3 path {
    fill:rgba(235, 235, 235, 0.836);
}

.dataList > dl {
    display: none !important;
}

.dataList > dl.view {
    display: block !important;
}

#portfolio {
    position:relative;
    width:100%;
    padding:100px 0;
    background:#F4F4F4;
}

#portfolio .content_wrap {
    position:relative;
    max-width:1280px;
    margin:0 auto;
}

#portfolio .title {
    text-align:center;
}

#portfolio .title span {
    position:relative;
    display:block;
    padding-bottom:80px;
    font-size:24px;
    color:#222;
    font-weight:400;
    line-height:36px;
    text-transform:uppercase;
}

#portfolio .title span:after {
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%, -50%);
    content:'';
    display:block;
    width:2px;
    height:40px;
    background:#222;
}

#portfolio .title h3 {
    font-size:186px;
    color:rgba(1,1,1, 0.15);
    margin-top:-27px;
}

#portfolio .box {
    position:relative;
    width:100%;
    height:auto;
    padding:80px 120px;
    background:#fff;
    top:-50px;
    box-shadow: 0 50px 100px rgb(17 20 39 / 20%);
    box-sizing:border-box;
    z-index:2;
    opacity:0;
    transform: translateY(20px);
    transition: all 1s;
    transition-delay: 0.5s;
}

#portfolio .box.on {
    opacity: 1;
    transform: translateY(0);
}

#portfolio .box > ul > li {
    width:100%;
    opacity:0;
    transform:translateY(20px);
    transition:all 1s;
    transition-delay:0.5s;
}

#portfolio .box > ul > li.on {
    opacity: 1;
    transform: translateY(0);
}

#portfolio .box > ul > li + li {
    padding-top:150px;
}

#portfolio .box > ul > li h4 {
    font-size:24px;
    color:#222;
    padding-bottom:30px;
}

#portfolio .box_content {
    position:relative;
    width:100%;
    padding-right:40%;
    box-sizing:border-box;
}

#portfolio .box_content .portfolio_des dt {
    float:left;
    width:20%;
    padding:10px 0;
    font-size:16px;
    color: #EA543C;
    font-weight:500;
}

#portfolio .box_content .portfolio_des dd {
    float:left;
    width:80%;
    padding:10px 0;
    font-size:16px;
}

#portfolio .box_content .portfolio_des dt:nth-child(9),
#portfolio .box_content .portfolio_des dd:nth-child(10) {
    padding:12px 0;
}

#portfolio .box_content .link_view:after{
    display:block;
    clear:both;
    content:'';
}

#portfolio .box_content .link_view li {
    float:left;
    width: auto;
    color:#8A8A8A;
}

#portfolio .box_content .link_view li + li {
    margin-left:10px;
}

#portfolio .box_content .link_view li a {
    display:block;
    padding:5px 10px;
    font-size:14px;
    border:1px solid #d1cfcf;
    border-radius:2px;
}

#portfolio .box_content .link_view li a:hover,
#portfolio .box_content .link_view li a:focus {
    border:1px solid #222;
    color:#222;
} 

#portfolio .noBorder_btn i {
    line-height:18px;
    font-weight:500;
}

#portfolio .box_content .img_box {
    position:absolute;
    top:0;
    right:0;
    width:40%;
    height:240px;
    box-shadow: 0 30px 60px rgb(17 20 39 / 25%);
    border-radius:5px;
    overflow:hidden;
}

#portfolio .box ul li:nth-child(1) .img_box {
    background:url(../img/common/gyeongju_bak.png) no-repeat center center;
    background-size:cover;
}

#portfolio .box ul li:nth-child(2) .img_box {
    background:url(../img/common/garoa_bak.png) no-repeat center center;
    background-size:cover;
}

#portfolio .box ul li:nth-child(3) .img_box {
    background:url(../img/common/bgta_bak.png) no-repeat center center;
    background-size:cover;
}

#portfolio .box ul li:nth-child(4) .img_box {
    background:url(../img/common/admin_bak.png) no-repeat center center;
    background-size:cover;
}

#portfolio .box ul li:nth-child(5) .img_box {
    background:url(../img/common/bgta_bak.png) no-repeat center center;
    background-size:cover;
}

#contect {
    position:relative;
    width:100%;
    height:auto;
    margin-top:-300px;
    padding:280px 0 150px 0;
    background:#EA543C;
    box-sizing:border-box;
    opacity:0;
    transform:translateX(-100%);
    transition:all 1s;
    transition-delay:0.2s;
}

#contect.on {
    opacity:1;
    transform:translateX(0);
}

#contect .content_wrap {
    max-width:1280px;
    margin:0 auto;
    text-align:right;
}

#contect .content_wrap .title {
    position:relative;
    padding-bottom:30px;
    font-size:160px;
    font-weight:400;
    color:#F4F4F4;
}

#contect .content_wrap .title:before,
#contect .content_wrap .title:after {
    position:absolute;
    display:block;
    content:'';
}

#contect .content_wrap .title:before {
    bottom:0;
    right:0;
    width:40px;
    height:5px;
    background:#F4F4F4;
    z-index:1;
}

#contect .content_wrap .title:after {
    bottom:2px;
    left:0;
    width:100%;
    height:1px;
    background:#F4F4F4;
}

#contect .content_wrap .left {
    float:left;
}

#contect .content_wrap .left dl dt {
    float:right;
    width:50px;   
}

#contect .content_wrap .left dl dt i {
    font-size:16px;
    line-height:30px;
    color:#F4F4F4;
}

#contect .content_wrap .left dl dt:nth-child(3) {
    clear:both;
}

#contect .content_wrap .left dl dd {
    float:right;
    font-size:16px;
    line-height:30px;
    color:#F4F4F4;
    letter-spacing:1px;
}

#contect .content_wrap .right {
    float:right;
}

#contect .content_wrap .right p,
#contect .content_wrap .right span {
    font-size:16px;
    line-height:30px;
    color:#F4F4F4;
    text-transform:uppercase;
}

#contect .content_wrap .right p {
    letter-spacing:1px;
}

#contect .content_wrap > div {
    padding-top:90px;
}

/*btn*/
.btn_wrap {
    margin-top:30px;
    display:block;
    text-align:center;
}

.btn {
    display:inline-block;
    vertical-align:middle;
    position:relative;
    box-sizing:border-box;
    min-width:150px;
    height:50px;
    padding:0px 20px;
    border-radius:3px;
    font-size:15px;    
    font-weight:500;
    line-height:50px;
    text-align:center;
    overflow:hidden;
    text-overflow:ellipsis;
    letter-spacing:1px;
    word-break:break-all;
    box-shadow: 0 20px 40px rgb(17 20 39 / 10%);
    transition:0.2s;
    -webkit-transition: 0.2s;
}

.btn.white {    
    background-color:#fff;    
    color:#111427;
}

.btn.black {    
    background-color:#111427;    
    color:#fff;
}

.btn.black i {
    color:#fff;
}

.btn:hover,
.btn:focus {
    background-color: #111427;
    color: #ff634a;
}

.btn:hover i,
.btn:focus i {
    color: #ff634a;
}

.noBorder_btn {
    display:inline-block;
    vertical-align:top;
    position:relative;
    box-sizing:border-box;
    font-size:15px;    
    font-weight:500;
    text-align:left;
    overflow:hidden;
    text-overflow:ellipsis;
    text-transform:uppercase;
    word-break:break-all;
    text-decoration: underline;
}

.noBorder_btn.gray {
    color:#8A8A8A;
}

.noBorder_btn i {
    padding-left:20px;
    color:#8A8A8A;
}

.noBorder_btn:hover,
.noBorder_btn:focus {
    color:#222;
}

.noBorder_btn:hover i,
.noBorder_btn:focus i{
    color:#222;
} 


/*text_animation*/
.text_ani {
    overflow:hidden;
}

.text_ani .text{
    position:relative;
    display:block;
    line-height:1.3;
    overflow:hidden;
    transform:translateY(100%);
    transition:transform 1s cubic-bezier(.19,1,.22,1);
}

.text_ani.on .text {
    transform:translateY(0);
}


#carrer .work_project .sub_title,
#carrer dl dt,
#carrer dl dd{
    display: block;
    overflow: hidden;
    opacity: 0;
}

#carrer .work_project .sub_title span,
#carrer dl dt span,
#carrer dl dd span  {
    position: relative;
    display: inline-block;
    color: inherit;
    font-weight: inherit;
    opacity: 0;
}

#carrer .work_project .sub_title.on,
#carrer dl.on dt,
#carrer dl.on dd {
    opacity: 1;
}

#carrer .work_project .sub_title.on span,
#carrer dl.on dt span,
#carrer dl.on dd span {
    opacity: 1;
    animation: text-up 1s cubic-bezier(0.4, 0, 0.2, 1) both;
}

@keyframes text-up {
    from {transform: translate3d(0, 150%, 0);}
    to {transform: translate3d(0, 0, 0);}
}


  